<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.estmob.android.sendanywhere.sdk.ui.example">
    <!--
     [GCM]
     Creates a custom permission so only this app can receive its messages.

     NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
           where PACKAGE is the application's provider name.
    -->
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" /> <!-- bugly need permission start -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.HistoryActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.ServerActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/> <!-- 选择文件UI -->

        <activity
            android:name=".ui.ChooseFileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/> <!-- 选择文件接收者UI -->
        <activity
            android:name=".ui.ChooseReceiverActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/> <!-- 接收者等待界面UI -->
        <activity
            android:name=".ui.ReceiverWaitingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/> <!-- 文件发送列表界面UI -->
        <activity
            android:name=".ui.FileSenderActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- 文件接收列表界面UI -->
        <activity
            android:name=".ui.FileReceiverActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- 网页传界面UI -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.estmob.android.sendanywhere.sdk.ui.example.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>